* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.main {
    width: 100%;
    // 轮播图
    .slider {
        width: 100%;
        height: 420px;
        position: relative;
        overflow: hidden;

        .slider-list {
            li {
                position: absolute;
                display: none;
                a {
                    img {
                        height: 420px;
                        position: relative;
                        left: -10%;
                    }
                }
            }
        }
        //小圆点
        .pointer {
            position: absolute;
            bottom: 15px;
            left: 0;
            right: 0;
            margin: auto;
            width: 230px;
            height: 12px;

            span {
                display: block;
                float: left;
                width: 12px;
                height: 12px;
                background: #fff;
                border-radius: 50%;
                margin-left: 8px;
                margin-right: 8px;
                cursor: pointer;
            }

            .current {
                background: #b4a078;
            }
        }
        //前后切换
        .switchover {
            i {
                color: #fff;
                font-size: 20px;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                border-radius: 50%;
                background: #d0c4af;
                position: absolute;
                top: 200px;

                &:hover {
                    background: #b4a078;
                }
                &:first-child {
                    left: 104px;
                }
                &:last-child {
                    right: 104px;
                }
            }
        }
    }
    // 精选会场
    .choose {
        width: 100%;
        height: 560px;
        background: #fdecda;
        // overflow: hidden;

        .wrap {
            width: 1090px;
            height: 560px;
            margin: 0 auto;

            .choose-top {
                width: 100%;
                height: 128px;
                // line-height: 128px;
                text-align: center;
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    display: inline-block;
                    height: 2px;
                    width: 300px;
                    border-top: 2px solid #aba39a;
                }

                h2 {
                    font-size: 34px;

                    i {
                        font-size: 34px;
                        font-style: normal;
                        font-weight: 100;
                        margin-left: 15px;
                        color: #333333;
                    }
                }
            }

            .choose-bottom {
                width: 100%;
                height: 430px;

                .choose-b-up {
                    width: 100%;
                    height: 210px;
                    display: flex;
                    justify-content: space-between;

                    a {
                        float: left;

                        img {
                            height: 210px;
                        }
                    }
                }

                .choose-b-down {
                    a {
                        display: inline-block;
                    }
                }
            }
        }
    }
    // 品牌制造商
    .brand {
        width: 100%;
        height: 396px;

        .wrap {
            width: 1090px;
            height: 100%;
            margin: 0 auto;

            .brand-up {
                width: 100%;
                height: 76px;
                overflow: hidden;

                .brand-up-header {
                    width: 100%;
                    height: 30px;
                    margin-top: 30px;

                    p {
                        float: left;

                        a {
                            font-size: 26px;
                            font-weight: 600;
                            text-decoration: none;
                            color: #000;

                            &:hover {
                                color: #b4a078;
                            }
                        }
                        span {
                            margin-left: 20px;
                            font-size: 12px;
                        }
                    }

                    i {
                        font-style: normal;
                        float: right;
                        margin-top: 14px;
                        
                        a {
                            font-size: 12px;
                            text-decoration: none;
                            color: #000;

                            &:hover {
                                color: #b4a078;
                            }
                        }
                    }
                }
            }

            .brand-down {
                width: 100%;
                height: 320px;

                .b-d-left {
                    width: 736px;
                    height: 100%;
                    float: left;

                    a {
                        display: block;
                        width: 356px;
                        height: 320px;
                        float: left;
                        margin-right: 12px;
                        text-decoration: none;
                        color: #666666;
                        text-align: center;

                        &:first-child {
                            background: url("/images/brand1.jpg") no-repeat center;
                        }
                        &:last-child {
                            background: url("/images/brand2.png") no-repeat center;
                        }

                        h4 {
                            font-size: 24px;
                            margin-top: 40px;
                            margin-bottom: 0;
                        }
                        span {
                            display: inline-block;
                            width: 48px;
                            height: 1px;
                            border-top: 1px solid #666666;
                        }
                        p {
                            font-size: 14px;
                            margin-top: 8px;
                        }
                    }
                }

                .b-d-right {
                    width: 352px;
                    height: 100%;
                    float: left;

                    a {
                        display: block;
                        width: 357px;
                        height: 155px;
                        text-decoration: none;
                        color: #666666;
                        text-align: left;
                        padding-left: 18px;
                        overflow: hidden;
                        

                        &:first-child {
                            margin-bottom: 10px;
                            background: url("/images/brand3.png") no-repeat center;
                        }
                        &:last-child {
                            background: url("/images/brand4.jpg") no-repeat center;
                        }

                        h4 {
                            font-size: 18px;
                            margin-top: 40px;
                            margin-bottom: 0;
                        }
                        span {
                            display: inline-block;
                            width: 48px;
                            height: 1px;
                            border-top: 1px solid #666666;
                        }
                        p {
                            font-size: 14px;
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
}